extends ./layout

block content
	include ./include/nav-slide
	include ./include/nav
	.grid
		include ./include/hero
		include ./include/banner-text
		include ./include/block
		include ./include/block
		include ./include/banner-text	
	h3= message
	h2 this is a secodnd linea