.btn {
	background-color: transparent;
	border: 1px solid black;
}

.btn {
	background-color: transparent;
	border: 2px solid red;
	color: red;
	padding: 10px 20px;
	transition: 0.5s;
	border-radius: 5px;
}
.btn:hover {
	background-color: pink;
	border: 2px solid green;
	transition: 0.5s;
}